{% extends "gearapp/base.html" %}

{% block content %}

{% regroup items by item_category as itemcategories %}

{% if itemcategories %}
    {% for ic in itemcategories %}
        {% if ic.list %}
            <h2 class="clearfix ">{{ ic.grouper }}</h2>
            <div class="card-columns">
            {% for item in ic.list %}
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="/{{ item.image }}" alt="Card image cap">
                    <div class="card-body">
                        <b class="card-title">{{ item.brand }} {{ item.name }}</b>
                        <p class="card-text">{{ item.weight }}g</p>
                    </div>
                </div>
            {% endfor %}
            </div><!-- end div card columns -->
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock content %}